body {
  background: #ffffff;
  color: #333333;
  overflow-x: hidden;
}
.hidden {
  display: none;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header {
  display: block;
  overflow: hidden;
  background: #ffffff;
  position: fixed;
  z-index: 999;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
}
footer {
  display: block;
  overflow: hidden;
  background: #ffffff;
  position: fixed;
  z-index: 999;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  width: 100%;
}
#main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -20px;
  overflow: auto;
}
#main.loading {
  background: transparent url(../img/spinner.gif) no-repeat center center;
  overflow: hidden;
}
#container {
  display: table;
}
#container:hover {
  cursor: -webkit-grab;
}
#container:active {
  cursor: -webkit-grabbing;
}
.loading #container {
  opacity: 0;
}
.row {
  display: table-row;
}
.row .micromonial {
  display: table-cell;
  min-width: 86px;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
  background: #333;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.row .micromonial:hover img {
  opacity: .7;
}
.row .micromonial img {
  display: block;
  max-width: 100%;
  pointer-events: none;
  position: relative;
}
.row .micromonial.animate img {
  -webkit-transition: all 0s ease-out;
  -webkit-transform-origin: center center;
  -webkit-transform: scale3d(0, 0, 0) translateZ(200px);
}
.row .micromonial.animate.zoom img {
  -webkit-transition-duration: .3s;
  -webkit-transform: scale3d(1, 1, 1) translateZ(0px);
}
#darken {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
}
#overlay {
  position: absolute;
  top: 4em;
  left: 50%;
  width: 512px;
  margin-left: -256px;
  background: #fff;
  z-index: 1001;
}
@media screen and (max-width: 40.063em) {
  header h1 {
    font-size: 1em;
  }
  footer {
    display: none;
  }
}
